/* Tailwind directives  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Space Grotesk';
  src: url('/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  list-style-type: none;
  color: white;
}

body {
  background-color: #151515;
  background-image: url(/assets/images/pattern-rings.svg),
    url(/assets/images/pattern-circle.svg),
    url(/assets/images/pattern-rings.svg);
  background-position: -347px 124px, right -65px top 252px,
    right -347px top 1396px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  body {
    background-position: -270px 86px, right -65px top 550px,
      right -330px top 1047px;
    background-size: 530px 129px, 0 0, 530px 129px;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-position: -100px 133px, right -65px top 550px,
      right -239px top 1077px;
  }
}

footer {
  position: relative;
  background-color: #151515; /* your footer color */
  /* No z-index needed here unless you need to adjust stacking with inner content */
}

/* Pseudo-element for overlaying background images on the footer */
footer::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(/assets/images/pattern-rings.svg);
  background-position: left -347px bottom 170px;
  background-repeat: no-repeat;
  z-index: 1; /* Place it above the footer background */
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  footer::before {
    background-position: left -347px bottom 130px;
    background-size: 530px 129px;
  }
}

@media screen and (min-width: 992px) {
  footer::before {
    background-position: left -347px bottom 250px;
    background-size: 650px 129px;
  }
}
